.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.note-lottie {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  object-fit: cover;
}